.form {
  padding-top: 20%;
  padding-bottom: 20%;
  background-image: url("https://images.unsplash.com/photo-1517344687790-7338f238f7f5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=60cbef02eb928db2f4ba8474f972cdb8&auto=format&fit=crop&w=700&q=60");
  background-size: 100%;
}

.input-background {
  background-color: #ffffffb8;
  padding: 2%;
}